.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.success {
  color: #22c55e !important;
}

.failure {
  color: #f43f5e !important;
}

.pending {
  color: #94a3b8 !important;
}

.running {
  color: #f59e0b !important;
}
